@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap'); */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply bg-gray-200 border-none px-4 py-2 my-2 w-full rounded;
}

.btn {
  @apply rounded-full bg-red-500 text-white text-xs font-bold px-10 py-3 mt-3 uppercase tracking-wider transition active:scale-95;
}

.ghost-btn {
  @apply border border-white text-white rounded-full px-10 py-3 text-xs font-bold uppercase;
}

.btn-primary {
  @apply bg-red-500 hover:bg-red-600 text-white text-xs font-bold px-10 py-3 mt-4 rounded-full uppercase tracking-wider transition active:scale-95 shadow-lg;
}

.btn-ghost {
  @apply border border-white text-white px-8 py-2 rounded-full text-xs uppercase hover:bg-white hover:text-black transition;
}
@keyframes draw {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  animation: draw 2s ease forwards;
}

